.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.account-form{
  width: 40%;
  /* height: 375px; */
  border: 5px solid black;
  box-sizing: border-box;
  margin: 10% auto;
}

form {
  display: block;
  margin: auto;
  height: 50%;
}

input {
  width: 70%;
  font-size: 20px;
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
}

button {
  margin: 20px 0 30px 0;
  width: 70%;
  font-size: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px;
}

h3 { 
  margin: 0px;
  padding: 0;
}

.trans-card {
  display: inline-block;
  height: 10%;
  width: 35%;
  text-align: center;
}

.trans-card-h1 {
  display: inline-block;
  height: 10%;
  width: 40%;
  text-align: left;
}

.transactions-box {
  width: 38%;
  margin: 2% 5%;
  float: left;
  height: 700px;
  overflow: scroll;
}

.buy-form-container{
  display: inline-block;
  margin: 10%;

}

.navbar {
  font-size: 30px;
  text-align: right;
}

.errors{
  color: red;
}

.open-price-greater {
  color: red;
}

.open-price-equal{
   color: gray
}

.open-price-less{
  color: green;
}





